<div class="inner-app">
	<div class="inner-app__context-bar context-bar">
		<span class="h4 context-bar__icon" style="margin-left: 15px;">
			{{#link-to 'dashboard.portalManagement.role'}} {{io-icon type="left"}}{{/link-to}}
			{{#link-to 'dashboard.portalManagement.role'}}  角色管理 {{/link-to}} / <span>{{roleForm.name}}</span>
		</span>
	</div>
	
	<div class="inner-app__main collapsed">
		<div class="row" style="padding: 20px;">
			<div class="io-steps io-steps-horizontal io-steps-label-horizontal" style="display: inline-block; text-align: center; padding-left: 100px;">
				{{#each roleSteps as |step|}}
				<div class="io-steps-item io-steps-status-{{step.status}}" style="margin-right: -18.4492px; width: 246px; text-align: left; cursor: pointer;" {{action "stepAction" step.index}}>
					{{#unless step.last}}
					<div class="io-steps-tail"> <i> </i> </div>
					{{/unless}}
					<div class="io-steps-step">
						<div class="io-steps-head">
							<div class="io-steps-head-inner">
								{{#if (eq step.status "finish")}}
								<span class="io-steps-icon ioicon ioicon-check">
								</span>
								{{else}}
								<i class='idcicon idcicon-{{step.icon}}'></i>
								{{/if}}
							</div>
						</div>
						<div class="io-steps-main">
							<div class="io-steps-title">
								{{step.title}}
							</div>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane {{if (eq '角色信息' currentTab) 'active'}}" id="info">
				{{#io-form submitForm="saveResAction" class="panel form-horizontal" readonly=true}}
				<div class="panel-body row"style="width:1000px; margin:auto;">
					{{#io-form-group labelColClass="col-md-8" inputColClass="col-md-16" help="" label="角色编码：" }}
					{{io-input value=roleForm.code type="text" data-error="" }}
					{{/io-form-group}}
					{{#io-form-group labelColClass="col-md-8" inputColClass="col-md-16" help="" label="角色名称：" }}
					{{io-input value=roleForm.name type="text" data-error="" }}
					{{/io-form-group}}
					{{#io-form-group labelColClass="col-md-8" inputColClass="col-md-16" help="" label="备注：" }}
					{{io-textarea style="font-size:10px" value=roleForm.remark rows="6"}}
					{{/io-form-group}}
				</div>
				{{/io-form}}
			</div>
			<div role="tabpanel" class="tab-pane {{if (eq '用户信息' currentTab) 'active'}}" id="info">
				<div class="container-fluid user-list" style="width:1000px; margin:auto;">
				{{#if loading}}
					{{io-loading}}
				{{else}}
					{{io-table
					columns=model.userColumns
					showIndexNumber=true
					showGlobalFilter=true
					indexNumberBase=model.indexNumber
					data=model.users}}
					<div class="row">
						{{io-pagination change="userPageClick" count=model.usermeta.pages current=model.usermeta.offset}}
					</div>
				{{/if}}
				</div>
			</div>
			<div role="tabpanel" class="tab-pane {{if (eq '用户组信息' currentTab) 'active'}}" id="role">
				<div class="container-fluid user-list" style="width:1000px; margin:auto;">
				{{#if loading}}
					{{io-loading}}
				{{else}}
					{{io-table
					columns=model.groupColumns
					showIndexNumber=true
					showGlobalFilter=true
					indexNumberBase=model.indexNumber
					data=model.groups}}
					<div class="row">
						{{io-pagination change="groupPageClick" count=model.groupmeta.pages current=model.groupmeta.offset}}
					</div>
				{{/if}}
				</div>
			</div>
			
			<div role="tabpanel" class="tab-pane {{if (eq '权限信息' currentTab) 'active'}}" id="user">
				<div class="container-fluid user-list" style="width:1000px; margin:auto;">
					<div class="user-list-selected">
						<p>
							{{#each model.permissions  as | per|}}
							<h3>{{per.systemName}}--{{per.resName}}</h3>
							<hr>
							<br>
							{{#each per.permissions  as | item|}}
							<span class="io-tag">
								<span class="io-tag-text">{{item.authResName}}</span>
							</span>
							{{/each}}
							<br>
							<br>
							{{/each}}
						</p>
					</div>
				</div>
				<br>
			</div>
		</div>
	</div>
</div>