<div class="inner-app">
	<div class="col-md-24 inner-app__context-bar">
		<span class="context-bar-nav-header no-shadow">
			<span class="context-bar__icon">
				<i class="idcicon idcicon-permissionmanager"></i> 权限资源管理
			</span>
		</span>
		<span class="context-bar__right-button-group pull-right">
			<span class="input-group search">
				{{input type="text"  value=filterString placeholder="请输入搜索内容"}}
				{{io-icon type="search"}}
			</span>
			<button class="io-btn io-btn-primary" {{action "showModelAction"}}>{{io-icon type="plus"}} 新建权限资源</button>
		</span>
	</div>
	<div class="inner-app__main collapsed">
		{{#if model.columns}}
		{{io-table
		columns=model.columns
		showIndexNumber=true
		showGlobalFilter=false
		filterString=filterString
		indexNumberBase=model.indexNumber
		update="showModelAction"
		delete="deleteResAction"
		lookUpAction="lookUpAction"
		pageSize=100000
		data=model.data}}
		{{/if}}
		{{#if model.data}}
		<div class="row">
			{{io-pagination change="pageClick" count=model.meta.pages current=model.meta.offset}}
		</div>
		{{/if}}
	</div>
</div>