<div class="inner-app">
	<div class="inner-app__context-bar context-bar">
		<span class="h4 context-bar__icon" style="margin-left: 15px;">
			{{#link-to "dashboard.portalManagement.resource"}}<i class="ioicon ioicon-left"></i> 权限资源管理&nbsp;    {{/link-to}} / {{#if resForm.name}} {{resForm.name}}{{else}}新建权限资源{{/if}}
		</span>
	</div>
	<div class="inner-app__main collapsed">
		<div class="row" style="padding: 20px;">
			{{#io-form submitForm="saveResAction" class="panel form-horizontal" }}
			<div class="panel-body row"style="width:800px; margin:auto;">
				<div class="form-group">
					<label class="col-md-8 control-label required" for="textinput">权限资源编码：</label>
					<div  class="col-md-16">
						{{input class="form-control input-md" value = resForm.code type="text" required=true }}
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-8 control-label required" for="textinput">权限资源名称：</label>
					<div  class="col-md-16">
						{{input class="form-control input-md" value = resForm.name type="text" required=true }}
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-8 control-label required" for="textinput">权限资源URL：</label>
					<div  class="col-md-16">
						{{input class="form-control input-md" value = resForm.url type="text" required=true }}
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-8 control-label required" for="textinput">系统名称(appId)：</label>
					<div  class="col-md-16">
						{{#if resForm.id}}
							{{input class="form-control input-md" value = resForm.appId type="text" required=true  readonly=true}}
						{{else}}
							{{input class="form-control input-md" value = resForm.appId type="text" required=true}}
						{{/if}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-8 control-label required" for="textinput">权限资源备注：</label>
					<div  class="col-md-16">
						{{textarea class="form-control input-md" value = resForm.remark type="text" required=true }}
					</div>
				</div>
				<div class="row "style="text-align:center">
					<button type="submit" class="io-btn io-btn-primary" >{{io-icon type="save"}}保存</button>
				</div>
			</div>
			{{/io-form}}
		</div>
	</div>
</div>