{{!-- <a type="button" class="io-table__btn" {{action 'sendAction' 'allocateRole' "ROLE" record}}>分配角色</a>
<a type="button" class="io-table__btn" {{action 'sendAction' 'allocateGroup' "GROUP" record}}>分配用户组</a> --}}

{{#tool-tips type="bottom" tip="编辑"}}
    <span {{action 'sendAction' 'viewPersonModalWindow' "edit" record}}  class="h4 text-primary" >{{io-icon type="edit"}}</span>
{{/tool-tips}}

{{#tool-tips type="bottom" tip="分配用户组"}}
    <span {{action 'sendAction' 'allocateGroup' "GROUP" record}}  class="h4 text-primary" ><i class="idcicon idcicon-usergroup"></i></span>
{{/tool-tips}}

{{#if (eq record.sourceType "native")}}
	{{#tool-tips type="bottom" tip="重置密码"}}
		<span {{action 'sendAction' 'resetPW' record}}  class="h4 text-danger" ><img width="23" height="23" src="/img/key.png"/></span>
	{{/tool-tips}}

	{{#tool-tips type="bottom" tip="发放Token"}}
	<span {{action 'sendAction' 'grantToken' record}}  class="h4 text-danger" ><img width="18" height="18" src="/img/token.png"/></span>
	{{/tool-tips}}
{{/if}}

{{#if (eq record.status "ENABLED")}}
	{{#tool-tips type="bottom" tip="禁用"}}
		<span {{action 'sendAction' 'enabled' record}}  class="h4 text-danger" ><img width="18" height="18" src="/img/lock.png"/></span>
	{{/tool-tips}}
{{else}}
	{{#tool-tips type="bottom" tip="激活"}}
		<span {{action 'sendAction' 'enabled' record}}  class="h4 text-danger" ><img width="18" height="18" src="/img/unlock.png"/></span>
	{{/tool-tips}}
{{/if}}

{{#tool-tips type="bottom" tip="删除"}}
	<span {{action 'sendAction' 'delete' record}}  class="h4 text-danger" >{{io-icon type="delete"}}</span>
{{/tool-tips}}



